body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Menengahkan teks di dalam body */
  }
  
  h1 {
    text-align: center; /* Menengahkan teks h1 */
  }
  
  p {
    text-align: center; /* Menengahkan teks paragraf */
  }
  
  /* Style untuk input dan tombol */
  input[type="text"] {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Menengahkan teks di dalam input */
  }
  
  button {
    padding: 8px 16px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Menengahkan teks di dalam tombol */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Style untuk tabel */
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black; /* Menambahkan border tebal pada tabel */
  }
  
  th, td {
    padding: 8px;
    text-align: center; /* Menengahkan teks di dalam sel tabel */
    border: 2px solid black; /* Menambahkan border tebal pada sel tabel */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }
  